.top{
border: solid red 5px;
display: flex;
min-height: 80px;
justify-content: space-around;
align-items: center;

}

.rubrik{
background-color: aqua;
padding-left: 60px;
padding-right: 60px;
font-family: monospace;
border: solid black 2px;
}

.mid{
padding-top: 40px;
padding-bottom: 40px;
align-items: center;
justify-content: space-around;
border: 2px solid orange;
display: flex;
font-family: monospace;

}





.vr{



    border: 2px solid;
    background-color: yellow;
    width: 49%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.hr{



    border: 2px solid;
    background-color: pink;
    width: 49%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;


}

#bot{

border: 2px solid yellow;
    
}